.main {
  width: 80%;
  height: 100vh;
  border: black 3px solid;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  list-style-type: none;
}

h1 {
    color: white;
    display: block;
    width: 80%;
  }
