* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}




.app {
  display: flex;
  flex-direction: row;
  border: 4px hotpink dashed;
  height: 100%;
  width: 100%;
}